.actions {
  display: flex;
  column-gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  margin: calc(var(--spacer) / 2) 0;
}

.confirm {
  background-color: var(--brand-alert-green);
}

.reject {
  background-color: var(--brand-alert-red);
}
