.modal {
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.title {
  margin: 0;
}

.legendTitle {
  font-style: italic;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.borderedElement {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.algorithmPublisher {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 0.2rem;
}

.algorithmPublisher > div {
  margin-right: 0;
}

.requestInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 calc(var(--spacer) / 2);
}

.modalActions {
  display: flex;
  column-gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  margin: calc(var(--spacer) / 2) 0;
}

.reason {
  word-wrap: break-word;
  overflow-y: scroll;
  max-height: 10rem;
}

.modalConfirmBtn {
  background-color: var(--brand-alert-green);
}

.modalRejectBtn {
  background-color: var(--brand-alert-red);
}

/* .modalState {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding-bottom: calc(var(--spacer) / 4);
  border-bottom: 1px solid var(--border-color);
} */
