.modal {
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.modalHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modalActions {
  display: flex;
  column-gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  margin: calc(var(--spacer) / 2) 0;
}

.modalConfirmBtn {
  background-color: var(--brand-alert-green);
}

.modalRejectBtn {
  background-color: var(--brand-alert-red);
}

.modalHighlight {
  color: var(--brand-alert-red);
}

.modalContent {
  padding-top: calc(var(--spacer) / 4);
}

.modalState {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding-bottom: calc(var(--spacer) / 4);
  border-bottom: 1px solid var(--border-color);
}

.modalHistory {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-top: calc(var(--spacer) / 4);
  overflow-y: auto;
  max-height: 100px;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}

.modalHistoryItem {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
}

.historyTitle {
  font-weight: bold;
  padding-top: 0.5rem;
}

.count {
  font-style: italic;
}
