.section {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0.065rem solid var(--color-secondary);
}

.title {
  padding-bottom: 0.5rem;
}

.noConsents {
  padding-bottom: 1rem;
  font-style: italic;
  text-align: center;
}

.consentList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.consentList > .consentRow {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  justify-content: space-between;
}

.consentList > .consentRow:last-of-type {
  border: none;
}

.action {
  cursor: pointer;
}

.assetLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.assetLink {
  display: flex;
  align-items: center;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto 0;
  padding: 0.5rem;
}
