.section {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: center;
}

.title {
  margin-bottom: calc(var(--spacer) / 2);
}

.noConsents {
  padding-bottom: 1rem;
  font-style: italic;
  text-align: center;
}

.consentList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--background-highlight);
  margin-bottom: var(--spacer);
}

.consentRow {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.consentRow:last-of-type {
  border: none;
}

.action {
  cursor: pointer;
}

.assetLink {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem;
}
