.noConsents {
  padding-bottom: 1rem;
  font-style: italic;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--spacer) / 2); /* smaller spacing */
  align-items: center;
  width: 100%;
}

.title {
  margin-bottom: calc(var(--spacer) / 4); /* tighter spacing */
  font-weight: 600;
}

.noConsents {
  padding: 0.5rem 0;
  font-style: italic;
  text-align: center;
}

.consentList {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--background-highlight);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: var(--spacer);
}

.consentRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
}

.consentRow:last-of-type {
  border-bottom: none;
}

.consentDetail {
  display: flex;
  flex-direction: row; /* changed to row for slimmer layout */
  align-items: center;
  gap: calc(var(--spacer) / 4);
}

.assetLink {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: var(--font-size-small);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  display: flex;
  align-items: center;
  gap: calc(var(--spacer) / 4); /* ensure separator spacing */
  font-size: var(--font-size-mini);
}

.action {
  cursor: pointer;
  fill: var(--input-selected-background);
}
