.request {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.interactive {
  cursor: pointer;
}

.input {
  accent-color: var(--color-agrospai-dark);
}

.input_interactive {
  accent-color: var(--color-agrospai-light);
}
