.requestList > li {
  display: list-item;
  margin-left: var(--spacer);
  text-align: justify;
}

.requestList > li > span {
  display: inline;
  gap: 1em;
}

.request {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.interactive {
  cursor: pointer;
}
