.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: calc(var(--spacer) * 2);
  width: 100%;
}

.section {
  text-align: left;
}

.title {
  margin-bottom: calc(var(--spacer) / 2);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: var(--footer-link-category-font-color);
}

.links {
  display: flex;
  justify-content: center;
  gap: calc(var(--spacer));
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.link {
  composes: text from '../@shared/atoms/Button/index.module.css';
}

.link,
.link:focus,
.link:active {
  text-transform: none;
  color: var(--footer-font-color);
  font-weight: var(--font-weight-normal);
  transform: none;
}

.link:hover {
  color: var(--footer-font-color-highlight);
  transform: none;
}

@media screen and (min-width: 55rem) {
  .container {
    width: auto;
  }
}
