.badge {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 0.8rem;
  color: white;
  font-weight: 700;
}

.badge-pending {
  background-color: var(--brand-alert-orange);
}

.badge-accepted {
  background-color: var(--brand-alert-green);
  color: black;
}

.badge-resolved {
  background-color: var(--brand-alert-yellow);
}

.badge-denied {
  background-color: var(--brand-alert-red);
}
